.newsletter {
  background-image: url("https://template.hasthemes.com/garcia/garcia/assets/images/bg/subscribe-bg-1.jpg");

  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
