input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  /* background-color: #eee; */
}
.no-outline:focus {
  outline: none;
}

.or {
  width: 100px;
}

.file-upload {
  border-bottom-style: hidden;
}
